# Go
/bin/
/pkg/
*.exe
*.test
*.out

# Node
client/node_modules/
client/dist/
**/node_modules/**

# Environment
# .env
# client/.env

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.idea/
.vscode/ 
